<a href="https://colab.research.google.com/github/CoolerKula/Mathematics-for-Data-Science-Project/blob/main/Mathematics_for_Data_Science_Project_Bernard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mathematics for Data Science Project

In [4]:
# importing libraries
import numpy as np
import pandas as pd
from scipy.spatial import distance

In [5]:
# defining the dataset
columns = ['y', 'x1', 'x2', 'x3', 'x4', 'x5']

df_train = pd.DataFrame([
[1.0, 38.5, 6.9, 18.9, 3.0, 5.0], [1.0, 38.0, 8.5, 19.2, 9.0, 17.0], [1.0, 34.7, 10.3, 19.8, 1.0, 9.0], [1.0, 45.9, 11.1, 17.5, 11.0, 23.0], [1.0, 42.4, 10.0, 19.9, 6.0, 14.0], [1.0, 46.0, 10.2, 20.5, 3.0, 12.0], [2.0, 77.7, 13.2, 39.3, 3.0, 17.0], [2.0, 69.8, 11.1, 31.4, 12.0, 23.0], [2.0, 78.2, 19.4, 33.2, 4.0, 9.0], [2.0, 55.5, 7.8, 29.6, 1.0, 25.0], [2.0, 74.3, 16.0, 34.2, 14.0, 17.0], [2.0, 78.3, 12.3, 42.6, 23.0, 23.0], [2.0, 74.0, 18.1, 49.0, 8.0, 9.0], [2.0, 71.4, 20.1, 60.4, 2.0, 10.0], [3.0, 85.0, 17.8, 56.1, 14.0, 14.0], [3.0, 79.8, 9.8, 44.8, 9.0, 10.0], [3.0, 72.0, 10.2, 37.3, 7.0, 9.0], [3.0, 95.3, 11.0, 51.5, 15.0, 23.0], [3.0, 69.3, 9.5, 42.3, 4.0, 9.0], [3.0, 89.8, 11.2, 58.2, 24.0, 25.0]
], columns=columns)

# previewing the dataset
df_train.head()

     y    x1    x2    x3    x4    x5
0  1.0  38.5   6.9  18.9   3.0   5.0
1  1.0  38.0   8.5  19.2   9.0  17.0
2  1.0  34.7  10.3  19.8   1.0   9.0
3  1.0  45.9  11.1  17.5  11.0  23.0
4  1.0  42.4  10.0  19.9   6.0  14.0

In [6]:
# prediction function
def nearest_neighbor_predict(train_features, train_target, new_features): 
	# YOUR CODE GOES BELOW
  #
	distances = []
	for i in range(train_features.shape[0]):
		vector = train_features.loc[i].values 
		distances.append(distance.euclidean(new_features, vector))
	best_index = np.array(distances).argmin() 
	print(distances)
	return train_target.loc[best_index]

In [7]:
# defining the features
train_features = df_train.drop('y', axis=1)
train_target = df_train['y']# YOUR CODE GOES HERE...Hint: this is the Y column

In [8]:
# new record
new_record = np.array([72, 14, 39, 8, 16])

# making the prediction / calling the nearest_neighbor_predict() function
# and passing `new_record` argument
# ---
# YOUR CODE GOES BELOW
#
prediction = nearest_neighbor_predict(train_features, train_target, new_record) 
print(prediction)

[41.50505993249498, 39.7528615322218, 43.26222370613882, 34.783185593041935, 35.56641674388917, 32.767209218973775, 7.695453203028398, 11.66233252827238, 12.893409169028958, 23.001086930838724, 8.326463835266443, 18.153236626012454, 13.031116606031887, 23.82288815404211, 22.712331452319024, 12.211470017978995, 8.205485969764375, 28.392604670934997, 10.170054080485512, 32.098598100228614]
2.0